*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.editorconfig
.jshintignore
.jshintrc
runctl
.settings
.yo-rc.json
.npm
.jspm
.bash*
bower_components
jspm_packages
!client/jspm_packages/github/angular/bower-material@1.0.9/angular-material.js
!client/jspm_packages/github/strongloop/angular-live-set@master/dist/live-set.js
.Trash*
instantclient